body {
  &[data-theme=dark] {
    background: $darkTheme_backgroundPage;
    color: $darkTheme_colorItems;

    a {
      color: $darkTheme_colorItems;
    }

    .playlist-modal {
      background: $darkTheme_backgroundPlaylistModal;

      &__main {
        background: $darkTheme_backgroundPlaylistModalMain;
      }

      &__controls {
        &-link {
          &--edit {
            color: $darkTheme_colorPlaylistModalEditControls;
          }
        }

        &-item {
          background: $darkTheme_backgroundPlaylistModalControlsItems;

          &--remove {
            color: $invalid;
          }
        }
      }
    }

    .nothing {
      &__link {
        color: $darkTheme_colorNothingLink;
      }
    }

    .audioplayer {
      background: $darkTheme_backgroundAudioplayer;

      &__progressbar {
        background: $darkTheme_backgroundAudioplayerProgressbar;

        &-line {
          background: $darkTheme_backgroundAudioplayerProgressbarLine;
        }
      }

      &__volume {
        &-slider {
          background: $darkTheme_backgroundAudioplayerVolumeSlider;

          &-line {
            background: $darkTheme_backgroundAudioplayerVolumeLine;
          }

          &-end {
            background: $darkTheme_backgroundAudioplayerVolumeSliderEnd;
          }
        }

        &-icon {
          fill: $darkTheme_colorAudioplayerVolumeIcon;
        }
      }

      &__songname {
        color: $darkTheme_colorAudioplayerSong;
      }

      &__authorname {
        color: $darkTheme_colorAudioplayerAuthor;
      }

      &__favorite {
        &-icon {
          fill: $darkTheme_colorDisabledStar;

          &--active {
            fill: $darkTheme_colorActiveStar;
          }
        }
      }

      &__controls {
        &-play {
          fill: $darkTheme_colorAudioplayerPlay;
        }

        &-pause {
          fill: $darkTheme_colorAudioplayerPause;
        }

        &-prev {
          fill: $darkTheme_colorAudioplayerPrev;
        }

        &-next {
          fill: $darkTheme_colorAudioplayerNext;
        }
      }
    }

    .playlist {
      &__edit {
        &-audio {
          background: $darkTheme_backgroundAudio;

          &-songname {
            color: $darkTheme_colorAudioName;
          }
        }
      }
    }

    .audio {
      &__list {
        &-item {
          background: $darkTheme_backgroundAudio;

          &--active {
            &::before {
              background: $darkTheme_backgroundActiveAudio;
            }
          }
        }

        &-favorite {
          &-icon {
            fill: $darkTheme_colorActiveStar;
          }

          &-count {
            color: $darkTheme_colorAudioFavoriteCount;
          }
        }

        &-author {
          &-songname {
            color: $darkTheme_colorAudioName;
          }

          &-name {
            color: $darkTheme_colorAudioAuthor;
          }
        }

        &-songtime {
          color: $darkTheme_colorAudioTime;
        }
      }
    }

    .playlists {
      &__item {
        background: $darkTheme_backgroundPlaylist;

        &:hover &-name {
          color: $darkTheme_colorActivePlaylistName;
        }

        &-poster {
          background: $darkTheme_backgroundPlaylistPoster;

          &::before {
            background: $darkTheme_backgroundPlaylistAreaPoster;
          }
        }
      }
    }

    .add-btn {
      background: $darkTheme_backgroundAddBtn;

      &::before,
      &::after {
        background: $darkTheme_colorLineAddBtn;
      }
    }

    .form {
      &__block-avatar {
        box-shadow: inset $darkTheme_boxShadowBlockAvatar 0 0 30px 4px;
      }

      &__data {
        &-list {
          &-item {
            background-color: $darkTheme_backgroundFormDataListItem;
          }

          &-text {
            background: $darkTheme_backgroundFormDataListText;
          }
        }
      }

      &__block-poster,
      &__block-audio {
        border-color: $darkTheme_colorBorderFile;
      }

      &__field {
        &-title {
          color: $darkTheme_colorFieldTitle;
        }
      }

      &__submit {
        background: $darkTheme_backgroundSubmitAuth;
        color: $darkTheme_colorSubmitAuth;
      }
    }

    .auth {
      &__header {
        &-list {
          &-item {
            &::after {
              background: $darkTheme_backgroundSpaceAuth;
            }
          }

          &-link {
            color: $darkTheme_colorDisabledLinkAuth;

            &--active {
              color: $darkTheme_colorActiveLinkAuth;
            }
          }
        }
      }
    }

    .sidebar {
      background: $darkTheme_backgroundSidebar;

      &__list {
        &-icon {
          fill: $darkTheme_backgroundDisabledSidebarIcon;
        }

        &-link {
          color: $darkTheme_colorDisabledSidebarLink;

          &:hover {
            color: $darkTheme_colorActiveSidebarLink;
          }

          &:hover>svg {
            fill: $darkTheme_backgroundActiveSidebarIcon;
          }

          &--active {
            color: $darkTheme_colorActiveSidebarLink;

            &>svg {
              fill: $darkTheme_backgroundActiveSidebarIcon;
            }
          }
        }
      }
    }

    .header {
      background: $darkTheme_backgroundHeader;

      &__user {
        &-name {
          color: $darkTheme_colorUsernameLink;
        }
      }
    }

    .profile {
      &__header {
        background: $darkTheme_backgroundProfileHeader;

        &-list {
          &-link {
            color: $darkTheme_colorProfileHeaderDisabledLink;

            &:hover {
              color: $darkTheme_colorProfileHeaderActiveLink;
            }

            &--active {
              color: $darkTheme_colorProfileHeaderActiveLink;
            }

            &::after {
              background: $darkTheme_backgroundProfileHeaderLineLink;
            }
          }
        }
      }
    }

    .input {
      border-bottom: 1px solid $darkTheme_colorDisabledBorderInput;
      color: $darkTheme_colorDisabledInput;

      &--invalid {
        border-color: $invalid;
      }

      &:focus {
        color: $darkTheme_colorActiveInput;
        border-color: $darkTheme_colorActiveBorderInput;
      }

      &__file {
        &-style {
          color: $darkTheme_colorFileText;
        }
      }

      &__radio {
        &:checked+span {
          &::after {
            background: $darkTheme_backgroundActiveRadioThemeCheckbox;
          }
        }

        &-style {
          background: $darkTheme_backgroundRadioTheme;
          color: $darkTheme_colorRadioTheme;

          &::after {
            background: $darkTheme_backgroundRadioThemeCheckbox;
          }
        }
      }
    }
  }
}