body {

  // Dark theme
  &[data-theme=dark] {
    background: $darkTheme_backgroundPage;
    color: $darkTheme_colorItems;

    .form {
      &__block-avatar {
        box-shadow: inset $darkTheme_boxShadowBlockAvatar 0 0 30px 4px;
      }

      &__field {
        &-title {
          color: $darkTheme_colorFieldTitle;
        }
      }

      &__submit {
        background: $darkTheme_backgroundSubmitAuth;
        color: $darkTheme_colorSubmitAuth;
      }
    }

    .auth {
      &__header {
        &-list {
          &-item {
            &::after {
              background: $darkTheme_backgroundSpaceAuth;
            }
          }

          &-link {
            color: $darkTheme_colorDisabledLinkAuth;

            &--active {
              color: $darkTheme_colorActiveLinkAuth;
            }
          }
        }
      }
    }

    .sidebar {
      background: $darkTheme_backgroundSidebar;

      &__list {
        &-icon {
          fill: $darkTheme_backgroundDisabledSidebarIcon;
        }

        &-link {
          color: $darkTheme_colorDisabledSidebarLink;

          &:hover {
            color: $darkTheme_colorActiveSidebarLink;
          }

          &:hover>svg {
            fill: $darkTheme_backgroundActiveSidebarIcon;
          }

          &--active {
            color: $darkTheme_colorActiveSidebarLink;

            &>svg {
              fill: $darkTheme_backgroundActiveSidebarIcon;
            }
          }
        }
      }
    }

    .header {
      background: $darkTheme_backgroundHeader;

      &__list {
        &-username {
          color: $darkTheme_colorUsernameLink;
        }

        &-search-input {
          background: $darkTheme_backgroundSearchInput;
          color: $darkTheme_colorSearchInput;
        }
      }
    }

    .profile {
      &__header {
        background: $darkTheme_backgroundProfileHeader;

        &-list {
          &-link {
            color: $darkTheme_colorProfileHeaderDisabledLink;

            &:hover {
              color: $darkTheme_colorProfileHeaderActiveLink;
            }

            &--active {
              color: $darkTheme_colorProfileHeaderActiveLink;
            }

            &::after {
              background: $darkTheme_backgroundProfileHeaderLineLink;
            }
          }
        }
      }
    }

    .input {
      border-bottom: 1px solid $darkTheme_colorDisabledBorderInput;
      color: $darkTheme_colorDisabledInput;

      &--invalid {
        border-color: $invalid;
      }

      &:focus {
        color: $darkTheme_colorActiveInput;
        border-color: $darkTheme_colorActiveBorderInput;
      }

      &__file {
        &-style {
          color: $darkTheme_colorFileText;
        }
      }
    }
  }

  // Light theme
  &[data-theme=light] {}
}