// Dark theme
$darkTheme_backgroundPage: #222222;
$darkTheme_colorItems: #ffffff;
$darkTheme_backgroundSpaceAuth: #c2c2c2;
$darkTheme_colorActiveLinkAuth: #ffffff;
$darkTheme_colorDisabledLinkAuth: #c2c2c2;
$darkTheme_boxShadowBlockAvatar: #000000;
$darkTheme_colorFileText: #c2c2c2;
$darkTheme_colorDisabledBorderInput: #c2c2c2;
$darkTheme_colorActiveBorderInput: #ffffff;
$darkTheme_colorDisabledInput: #c2c2c2;
$darkTheme_colorActiveInput: #ffffff;
$darkTheme_colorFieldTitle: #50C878;
$darkTheme_backgroundSubmitAuth: #50C878;
$darkTheme_backgroundHeader: #181818;
$darkTheme_backgroundSidebar: #181818;
$darkTheme_colorSubmitAuth: #ffffff;
$darkTheme_colorUsernameLink: #ffffff;
$darkTheme_backgroundSearchInput: #fefefe;
$darkTheme_colorSearchInput: #222222;
$darkTheme_colorDisabledSidebarLink: #c2c2c2;
$darkTheme_colorActiveSidebarLink: #ffffff;
$darkTheme_backgroundActiveSidebarIcon: #ffffff;
$darkTheme_backgroundDisabledSidebarIcon: #c2c2c2;
$darkTheme_backgroundProfileHeader: linear-gradient(to top, #181818, transparent);
$darkTheme_colorProfileHeaderActiveLink: #ffffff;
$darkTheme_colorProfileHeaderDisabledLink: #c2c2c2;
$darkTheme_backgroundProfileHeaderLineLink: #50C878;
$darkTheme_colorArtistsDisabledLink: #ffffff;
$darkTheme_colorArtistsActiveLink: #50C878;
$darkTheme_backgroundPlaylistPoster: #181818;
$darkTheme_colorActivePlaylistName: #50C878;
$darkTheme_backgroundPlaylistAreaPoster: rgba(0, 0, 0, .5);
$darkTheme_colorActiveStar: #F4CA16;
$darkTheme_colorDisabledStar: #c2c2c2;
$darkTheme_colorAudioName: #50C878;
$darkTheme_colorAudioAuthor: #c2c2c2;
$darkTheme_colorAudioTime: #A8A8A8;
$darkTheme_colorAudioFavoriteCount: #c2c2c2;
$darkTheme_colorAudioOptionsDots: grey;
$darkTheme_backgroundAudio: #181818;
$darkTheme_colorNothingLink: #50C878;
$darkTheme_colorBorderFile: #ffffff;
$darkTheme_backgroundAudioplayer: #282828;
$darkTheme_colorAudioplayerSong: #ffffff;
$darkTheme_colorAudioplayerAuthor: #c2c2c2;
$darkTheme_colorAudioplayerPlay: #ffffff;
$darkTheme_colorAudioplayerPause: #ffffff;
$darkTheme_colorAudioplayerPrev: #c2c2c2;
$darkTheme_colorAudioplayerNext: #c2c2c2;
$darkTheme_backgroundAudioplayerProgressbar: #c2c2c2;
$darkTheme_backgroundAudioplayerProgressbarLine: #50C878;
$darkTheme_backgroundAudioplayerVolumeLine: #50C878;
$darkTheme_backgroundAudioplayerVolumeSliderEnd: #50C878;
$darkTheme_backgroundAudioplayerVolumeSlider: #c2c2c2;
$darkTheme_colorAudioplayerVolumeIcon: #ffffff;
$darkTheme_backgroundActiveAudio: linear-gradient(to left, transparent, #363636);
$darkTheme_colorFormDataActiveSearch: #ffffff;
$darkTheme_colorFormDataDisabledSearch: #c2c2c2;
$darkTheme_backgroundFormDataListItem: rgba(54, 54, 54, .5);
$darkTheme_backgroundFormDataListText: #000000;
$darkTheme_backgroundFormDataListBtn: #000000;
$darkTheme_borderColorFormDataListItem: #ffffff;
$darkTheme_colorFormDataListLineBtn: #ffffff;
$darkTheme_backgroundPlaylistModal: rgba(0, 0, 0, .4);
$darkTheme_backgroundPlaylistModalMain: rgba(54, 54, 54, .4);
$darkTheme_colorPlaylistModalEditControls: #318CE7;
$darkTheme_backgroundPlaylistModalControlsItems: #181818;

// Basic
$invalid: #FF033E;

// Fonts
%roboto-300 {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

%roboto-400 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

%roboto-500 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}