%roboto-300 {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

%roboto-400 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

%roboto-500 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}