// Dark theme
$darkTheme_backgroundPage: #222222;
$darkTheme_colorItems: #ffffff;
$darkTheme_backgroundSpaceAuth: #c2c2c2;
$darkTheme_colorActiveLinkAuth: #ffffff;
$darkTheme_colorDisabledLinkAuth: #c2c2c2;
$darkTheme_boxShadowBlockAvatar: #000000;
$darkTheme_colorFileText: #c2c2c2;
$darkTheme_colorDisabledBorderInput: #c2c2c2;
$darkTheme_colorActiveBorderInput: #ffffff;
$darkTheme_colorDisabledInput: #c2c2c2;
$darkTheme_colorActiveInput: #ffffff;
$darkTheme_colorFieldTitle: #50C878;
$darkTheme_backgroundSubmitAuth: #50C878;
$darkTheme_backgroundHeader: #181818;
$darkTheme_backgroundSidebar: #181818;
$darkTheme_colorSubmitAuth: #ffffff;
$darkTheme_colorUsernameLink: #ffffff;
$darkTheme_backgroundSearchInput: #fefefe;
$darkTheme_colorSearchInput: #222222;
$darkTheme_colorDisabledSidebarLink: #c2c2c2;
$darkTheme_colorActiveSidebarLink: #ffffff;
$darkTheme_backgroundActiveSidebarIcon: #ffffff;
$darkTheme_backgroundDisabledSidebarIcon: #c2c2c2;
$darkTheme_backgroundProfileHeader: linear-gradient(to top, #181818, transparent);
$darkTheme_colorProfileHeaderActiveLink: #ffffff;
$darkTheme_colorProfileHeaderDisabledLink: #c2c2c2;
$darkTheme_backgroundProfileHeaderLineLink: #50C878;
$darkTheme_colorArtistsDisabledLink: #ffffff;
$darkTheme_colorArtistsActiveLink: #50C878;

// Basic
$invalid: #FF033E;

// Fonts
%roboto-300 {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

%roboto-400 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

%roboto-500 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}