@import "./_global";

.default__layout {
  display: flex;
}

.auth {
  &__form {
    width: 600px;
  }

  &__inner {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__center {
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding-bottom: 25px;

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
          position: relative;

          &::after {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
          }
        }
      }

      &-link {
        font-size: 25px;
      }
    }
  }
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  flex-basis: 15%;
  height: 100vh;
  z-index: 999999;

  &__nav {
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 15px 0;

    &-link {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0 15px;
      transition: color, .4s;

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 100%;
        background: #50C878;
        top: 0;
        left: 0;
        z-index: 9;
        border-radius: 0 6px 6px 0;
        display: none;
      }

      &--active {
        &::before {
          display: block;
        }
      }
    }

    &-title {
      @extend %roboto-300;
    }

    &-icon {
      max-width: 25px;
      margin-right: 5px;
      transition: fill .4s;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.main-content {
  flex-basis: 85%;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  height: 60px;
  z-index: 9999999;
  padding: 15px;

  &__nav {
    height: 100%;
  }

  &__list {
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-user {
      display: flex;
      align-items: center;
    }

    &-avatar {
      width: 35px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      &-image {
        width: 35px;
        height: 35px;
      }
    }

    &-username {
      padding-left: 10px;
      font-size: 16px;
      @extend %roboto-400;
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    &-search {
      width: 220px;

      &-input {
        width: 100%;
        border: none;
        border-radius: 8px;
        padding: 5px;
        font-size: 15px;
        @extend %roboto-400;
      }
    }
  }
}

.input {
  border: none;
  background: none;
  padding-bottom: 8px;
  transition: border-color, color, .4s;
  @extend %roboto-300;

  &__file {
    display: none;

    &-style {
      font-size: 12px;
      text-align: center;
      @extend %roboto-300;
    }
  }
}

.profile {
  &__form {
    width: 700px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__header {
    &-inner {
      display: flex;
      flex-direction: column;
      padding: 15px 0;
    }

    &-info {
      padding-bottom: 25px;
      display: flex;
      align-items: center;
    }

    &-avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    &-username {
      padding-left: 10px;
      font-size: 40px;
      @extend %roboto-300;
    }

    &-nav {
      padding-top: 25px;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        &:not(:last-child) {
          margin-right: 25px;
        }
      }

      &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        position: relative;
        transition: color .4s;

        &:hover::after {
          opacity: 1;
          visibility: visible;
        }

        &::after {
          content: "";
          width: 100%;
          height: 1px;
          bottom: -8px;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          transition: opacity, visibility, .4s;
        }

        &--active {
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  &__main {
    padding: 25px 0;
    height: 100%;
  }

  &__tab-block {
    display: flex;
    flex-direction: column;
  }

  &__tab-settings {
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  &__block-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }

  &__avatar {
    border-radius: inherit;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__input {
    width: 100%;
  }

  &__field {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &-title {
      text-transform: uppercase;
      padding-bottom: 15px;
      font-size: 12px;
      @extend %roboto-400;
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin: 10px auto 0;
    cursor: pointer;
  }
}

.page {
  min-height: inherit;
  padding: 60px 0 10px;
}

@import "./_media";
@import "./_supports";