$lightTheme_backgroundPage: #fefefe;
$lightTheme_colorItems: #000000;
$lightTheme_backgroundSpaceAuth: #222222;
$lightTheme_colorActiveLinkAuth: #000000;
$lightTheme_colorDisabledLinkAuth: #383838;
$lightTheme_boxShadowBlockAvatar: #c2c2c2;
$lightTheme_colorFileText: #383838;
$lightTheme_colorDisabledBorderInput: #383838;
$lightTheme_colorActiveBorderInput: #000000;
$lightTheme_colorDisabledInput: #383838;
$lightTheme_colorActiveInput: #222222;
$lightTheme_colorFieldTitle: #50C878;
$lightTheme_backgroundSubmitAuth: #50C878;
$lightTheme_backgroundHeader: #E8E8E8;
$lightTheme_backgroundSidebar: #E8E8E8;
$lightTheme_colorSubmitAuth: #ffffff;
$lightTheme_colorUsernameLink: #000000;
$lightTheme_colorDisabledSidebarLink: #383838;
$lightTheme_colorActiveSidebarLink: #000000;
$lightTheme_backgroundActiveSidebarIcon: #000000;
$lightTheme_backgroundDisabledSidebarIcon: #383838;
$lightTheme_backgroundProfileHeader: linear-gradient(to top, #E8E8E8, transparent);
$lightTheme_colorProfileHeaderActiveLink: #000000;
$lightTheme_colorProfileHeaderDisabledLink: #383838;
$lightTheme_backgroundProfileHeaderLineLink: #50C878;
$lightTheme_backgroundPlaylistPoster: #c2c2c2;
$lightTheme_colorActivePlaylistName: #50C878;
$lightTheme_backgroundPlaylistAreaPoster: rgba(255, 255, 255, .5);
$lightTheme_colorActiveStar: #F4CA16;
$lightTheme_colorDisabledStar: #c2c2c2;
$lightTheme_colorAudioName: #50C878;
$lightTheme_colorAudioAuthor: #222222;
$lightTheme_colorAudioTime: #383838;
$lightTheme_colorAudioFavoriteCount: #222222;
$lightTheme_backgroundAudio: #E1E1E1;
$lightTheme_colorNothingLink: #50C878;
$lightTheme_backgroundBlockFile: #F3F3F3;
$lightTheme_backgroundAudioplayer: #E8E8E8;
$lightTheme_colorAudioplayerSong: #000000;
$lightTheme_colorAudioplayerAuthor: #222222;
$lightTheme_colorAudioplayerPlay: #222222;
$lightTheme_colorAudioplayerPause: #222222;
$lightTheme_colorAudioplayerPrev: #222222;
$lightTheme_colorAudioplayerNext: #222222;
$lightTheme_backgroundAudioplayerProgressbar: #A6A6A6;
$lightTheme_backgroundAudioplayerProgressbarLine: #50C878;
$lightTheme_backgroundAudioplayerVolumeLine: #50C878;
$lightTheme_backgroundAudioplayerVolumeSliderEnd: #50C878;
$lightTheme_backgroundAudioplayerVolumeSlider: #A6A6A6;
$lightTheme_colorAudioplayerVolumeIcon: #222222;
$lightTheme_backgroundActiveAudio: linear-gradient(to left, transparent, #c2c2c2);
$lightTheme_backgroundAddBtn: #c2c2c2;
$lightTheme_colorLineAddBtn: #000000;
$lightTheme_backgroundPlaylistModal: rgba(255, 255, 255, .4);
$lightTheme_backgroundPlaylistModalMain: rgba(248, 248, 248, .4);
$lightTheme_colorPlaylistModalEditControls: #318CE7;
$lightTheme_backgroundPlaylistModalControlsItems: #F3F3F3;
$lightTheme_backgroundPlaylist: #d5d5d5;
$lightTheme_backgroundRadioTheme: #F3F3F3;
$lightTheme_colorRadioTheme: #000000;
$lightTheme_backgroundRadioThemeCheckbox: #cecece;
$lightTheme_backgroundActiveRadioThemeCheckbox: #50C878;